/output*
/dl
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc

# Ignore all rom files & pico-8 binaries
**/pico8_64
**/pico8.dat
**/pico8_dyn
**/*.gba
**/*.gbc
**/*.gb
**/*.nes
**/*.snes
**/*.smc
**/*.sfc
**/*.n64
**/*.nds
**/*.cue
**/*.chd



